<div *ngIf="polizaModificar != []; else nodatos" id="DialogModificar">
    <div class="age">
        <div class="agregar-poliza">
            <h2>Modificar Poliza </h2>
        </div>
        <div class="input-agregar">
            <p>Id:</p> 
            <input id="idPolizaModificar" name="idPolizaModificar" disabled type="text" [value] = "idpoliza"> 
        </div>
        <div class="input-agregar">
            <p>Empleado: </p>
            <select disabled [(ngModel)]="empleadoGenero" id="idEmpleado" name="select" class="select-empleado" > 
                <option  *ngFor="let empleado of empleadosData" [value]="empleado.idempleado">{{ empleado.idempleado+" - "+empleado.nombre +" "+ empleado.apellido }}</option>
            </select>
        </div>
        <div class="input-agregar">
            <p>Sku: </p> 
            <select [(ngModel)]="skuModificar" name="select" class="select-sku" id="skuModificar">
                <option *ngFor="let articulo of inventario" value="articulo.Sku" [value]="articulo.Sku">{{ articulo.Sku+" - "+" "+ articulo.DescripcionArticulo }}</option>
            </select>
        </div>
        <div class="input-agregar">
            <p>Cantidad:</p> 
            <input id="cantidadModificar" type="text" name="cantidad"   maxlength="9"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Ingrese la cantidad del producto"
            (keypress)="onKeypressEvent($event)" [value]="cantidadModificar"> 
            
        </div>
        <div class="input-agregar">
            <p> Nombre Cliente:  </p> 
            <input id="nombreClienteModificar" name="nombreClienteModificar" [value]="nombreCliente" maxlength="50" placeholder="Ingrese el nombre del cliente"
            (keypress)="onKeypressEvent($event)">
        </div>
        <div *ngIf="vacios == true" >
            <label class="textInfo">Faltan campos por llenar</label>
        </div> 
        <div *ngIf="cantidadMin == true" >
            <label class="textInfo">La cantidad debe ser mayor a 0</label>
        </div> 
        <div class="contenedor-buttons">    
            <div class="buttons-Guardar">
                <button (click)="ModificarPoliza()">Modificar</button>
                <button (click)="CerrarDialog()" >Cancelar</button>
            </div>
        </div>    
    </div>
</div>



<ng-template #nodatos>
    <div class="input-agregar">
        <p>Id:</p> 
        <input id="idPolizaModificar" name="idPolizaModificar" disabled type="text" [value] = "0"> 
    </div>
</ng-template>